# Built outputs
*.iml
.gradle
/local.properties
/build
/captures
/app/build

# Android Studio / IntelliJ
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/.name
/.idea/compiler.xml
/.idea/deploymentTargetDropDown.xml
/.idea/migrations.xml
/.idea/misc.xml

# Native build
.externalNativeBuild
.cxx

# Keys and secrets
*.jks
*.keystore
keystore.properties
google-services.json

# OS
.DS_Store
Thumbs.db

# Kotlin
.kotlin
